# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Dependencies
node_modules/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env
.env*.local

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
